// Google font
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
// Variables
@import "variables";
// Mixins
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

// Body
body {
  // Header
  header {
    // Navigation
    nav {
      background-color: $white;
      .container-fluid {
        height: 134px;
        padding: 0 20px 0 70px;
        .collapse {
          .nav {
            margin: 0 auto;
            .active {
              border-bottom: 4px solid #777777;
            }
            li {
              padding: 0 15px;
              a {
                color: $black;
                font-size: 18px;
              }
            }
          }
        }
        form {
          input {
            background-image: url("../img/search.png");
            background-position: center;
            background-size: 20px;
            background-repeat: no-repeat;
            width: 40px;
            border: none;
            padding-left: 5px;
            &:focus {
              content: "";
              background-image: none;
              width: 150px;
            }
          }
        }
      }
    }
  }

  // MAIN SECTION
  #main {
    padding-top: 100px;
    .container {
      .row {
        justify-content: space-around;
        .btn {
          font-size: 14px;
        }
        .btns1 {
          display: block;
          p {
            padding-top: 10px;
            width: 150%;
            margin-left: -20px;
          }
        }
        .btns2 {
          display: none;
          background-color: $btnBckg;
          height: 323px;
          width: 323px;
          border-radius: 50%;
          p {
            color: $white;
            margin: 0 auto;
            padding-top: 10px;
            width: 95%;
            font-size: 24px;
          }
        }
      }
    }

    .container-fluid {
      background-color: $containerBckg;
      width: 100%;
      margin-top: -75px;
      .divs {
        display: none;
      }
    }

    // Content one
    .one {
      .cont {
        @include contLg;
        img {
          @include contImgLg;
        }
        .touch {
          top: 30px;
        }
        .cast {
          top: 20px;
        }
        .dotz {
          top: -10px;
        }

        p {
          margin-top: 142px;
          @include contPlg;
        }
      }
    }

    // Content two
    .two {
      .cont {
        @include contLg;

        img {
          @include contImgLg;
        }

        .prop {
          top: -25px;
        }
        .nameBoards {
          top: 5px;
        }

        p {
          margin-top: 122px;
          @include contPlg;
        }
        &:last-child {
          float: left;
        }
      }

      .row:last-of-type {
        .cont {
          padding-top: 0px;
          img {
            margin-top: 0;
          }
          p {
            margin-top: 80px;
          }
        }
      }
    }

    // Content three
    .three {
      .cont {
        @include contLg;

        img {
          @include contImgLg;
        }

        .nameBoards {
          top: 5px;
        }
        .signage {
          top: -30px;
        }
        .map {
          top: -50px;
        }

        p {
          margin-top: 115px;
          @include contPlg;
        }
      }
    }

    // Content four
    .four {
      .cont {
        @include contLg;

        img {
          @include contImgLg;
        }

        .nameBoards {
          top: 5px;
        }
        .signage {
          top: -30px;
        }
        .map {
          top: -50px;
        }
        p {
          margin-top: 115px;
          @include contPlg;
        }
      }
    }

    //Content five
    .five {
      .cont {
        @include contLg;

        img {
          @include contImgLg;
        }

        .ffwd {
          top: -10px;
        }
        .gateway {
          top: 6px;
        }

        p {
          margin-top: 130px;
          @include contPlg;
        }
      }
    }

    //Content six
    .six {
      .cont {
        @include contLg;

        img {
          @include contImgLg;
        }

        .truck,
        .jansnel {
          top: -5px;
        }
        .provada {
          top: -3px;
        }
        .opticien {
          top: 10px;
        }
        p {
          margin-top: 130px;
          @include contPlg;
        }
      }
    }

    .divs.active {
      display: block;
    }
  }
}

// Media queries
@import "mediaQueries";
